#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game{
  padding: .5rem 1.5rem;
  background-color: var(--surface);
  border-radius: 1rem;
}

.row{
  display: flex;
}

.cell {
  --cell-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--cell-size) * 0.75);
  font-weight: 700;
  width: var(--cell-size);
  height: var(--cell-size);
  border: solid 1px var(--cell-border-color);
  user-select: none;
  cursor: default;
  position: relative;
  box-sizing: border-box;
}

.cell.one {
  color: var(--one);
}

.cell.two {
  color: var(--two);
}

.cell.three {
  color: var(--three);
}

.cell.four {
  color: var(--four);
}

.cell.five {
  color: var(--five);
}

.cell.six {
  color: var(--six);
}

.cell.seven {
  color: var(--seven);
}

.cell.eight {
  color: var(--eight);
}

.cell img {
  width: 75%;
  height: 75%;
}

.cell.small {
  --cell-size: 2.25rem;
}

.overlay{
  width: 100%;
  height: 100%;
  background-color: var(--overlay-mid);
  border-style: solid;
  border-width: 2.25px;
  border-top-color: var(--overlay-light);
  border-left-color: var(--overlay-light);
  border-right-color: var(--overlay-dark);
  border-bottom-color: var(--overlay-dark);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-shadow: 3px 3px 8px #33333366;
  opacity: 0.5;
}

.flag {
  display: none;
}

.flag.visible {
  display: block;
}

.red {
  background-color: var(--red);
}

.green {
  background-color: var(--green);
}

.select-level {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.select-level li {
  flex-grow: 1;
}

.select-level button {
  font-size:  0.9rem;
  width: 100%;
  display: flex;
  padding: 0.25em 1rem;
  justify-content: center;
  border-radius: 0.25rem;
  transition: background-color 0.15s;
  text-transform: capitalize;
}

.select-level button.active {
  background-color: var(--btn-active);
}

button {
  background-color: var(--btn-color);
  color: var(--surface);
  border: none;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  font-weight: 700;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  font-weight: 700;
  font-size: 1rem;
  white-space: nowrap;
}

.header-buttons {
  display: flex;
  gap: 0.25rem;
}

.header-label {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.header-icon {
  width: 1em;
  height: 1em;
}

.win {
  color: var(--cell-mine-green);
}

.game-over {
  color: var(--cell-mine-red);
}